<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>841791093207-cu2j6lle0df4ah7rsj7gd29c3tb97dnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841791093207-cu2j6lle0df4ah7rsj7gd29c3tb97dnv</string>
	<key>API_KEY</key>
	<string>AIzaSyCSw7nqwZds18PZDwl-7tMH7cTqmwkRiQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841791093207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jerry.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>social-d5b58</string>
	<key>STORAGE_BUCKET</key>
	<string>social-d5b58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841791093207:ios:00a69a1bb2d2b105</string>
	<key>DATABASE_URL</key>
	<string>https://social-d5b58.firebaseio.com</string>
</dict>
</plist>